* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
}

body,
input,
textarea,
select,
button {
  font: 500 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 500px;
  background-color: #fff;

  h2 {
    margin: 15px 0 20px 0;
    color: #0984e3;
  }
  ul {
    list-style: none;

    li {
      cursor: pointer;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;

      & + li {
        margin-top: 15px;
      }

      input {
        margin-right: 1rem;
      }

      &:hover,
      &.selected {
        color: #27ae60;
      }
    }
  }

  .actionButtons {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;

    button {
      border: 0;
      padding: 10px;
    }

    .nextQuestionButton {
      transition: all 0.2s ease;
      background-color: #0984e3;
      color: #fff;

      &:hover {
        filter: brightness(0.8);
      }
    }

    .finishQuizButton {
      background-color: #00b894;
      color: #fff;
      transition: all 0.2s ease;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .resetQuiz {
    padding: 10px;
    border: 0;
    color: #fff;
    background-color: #0984e3;
    transition: background 0.1s ease;

    &:hover {
      background-color: #74b9ff;
    }
  }
}
